<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/edit/<%= user.id %>">Editar</a>
                    <a href="/delete/<%= user.id %>">Eliminar</a>
                    
                    
                </td>
            </tr>
        <% }); %>
    </table>
    <br><br><br>
    <h1>Agregar Usuario</h1>
    <!-- Agregar usuario -->
    <form action="/add" method="post">
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name" maxlength="45" required>
        <br><br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" maxlength="45" required>
        <br><br>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>
